<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="IBSU Final Project Full Suite">

    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="API Tests - Sequential" parallel="none">
        <packages>
            <package name="com.ibsu.edu.ge.api.tests"/>
        </packages>
    </test>

    <test name="UI Tests - Parallel" parallel="classes" thread-count="6">
        <packages>
            <package name="com.ibsu.edu.ge.ui.tests"/>
        </packages>
    </test>

</suite>